* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background-color: #342e37;
    min-height: 100vh;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    background: linear-gradient(135deg, #28afb0, #a167a5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.nav-container img {
    width: 3em;
}

.nav-container p {
    font-size: 18px;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #28afb0, #a167a5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 0 auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    margin-top: 2em;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0 16px;
    height: 32px;
    border-radius: 16px;
    font-size: 18px;
    margin-right: 1em;
    flex: 1;
    flex-shrink: 1;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.search button i {
    font-size: 18px;
    color: #555;
}

.weather-icon {
    width: 60%;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

footer {
    margin-top: 2em;
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ebfffc;
    height: 3em;
}

#github-link {
    cursor: pointer;
    margin: 0 auto;
}
#github-icon {
    height: 1.5em;
    margin-right: 1.5em;
}

@media only screen and (max-width: 480px) {
    .search {
        height: 5em;
        flex-direction: column;
        gap: 1em;
    }
    .search input {
        width: 90%;
    }
    .details {
        flex-direction: column;
        gap: 2em;
        align-items: baseline;
    }
}
