* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* color: white; */
}

body {
    background-color: #342e37;
    min-height: 100vh;
}

header {
    background: linear-gradient(135deg, #28afb0, #a167a5);
    color: #ebfffc;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 4em;
    justify-content: space-between;
    padding: 0 2em;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 3em;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #28afb0, #a167a5);
    color: #ebfffc;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 0 auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    margin-top: 2em;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.search input {
    height: 3em;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    color: #555;
    background-color: #ebfffc;
    flex: 1;
}

.search input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.search input:active {
    transform: scale(0.95);
}

.search input:focus {
    border: 2px solid grey;
}

.search-button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: background-color 0.15s, color 0.15s;
}

.search-button:hover {
    background-color: #555;
    color: #ebfffc;
}

.search-button:active {
    background-color: #181818;
}

.search-button span {
    display: none;
}

.weather-icon {
    width: 60%;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
}

/* footer start */

footer {
    margin-top: 2em;
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #28afb0, #a167a5);
    color: #ebfffc;
}

.footer-list {
    list-style: none;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
}
.git-button {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
    margin: 0 auto;
}

.svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 0;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.git-button:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.git-button:hover .svg-container {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}

/* footer end */

.weather {
    display: none;
}

.error {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 0 10px;
    display: none;
}

@media only screen and (max-width: 480px) {
    .search {
        height: 5em;
        flex-direction: column;
        gap: 1em;
    }
    .search input {
        width: 90%;
    }
    .details {
        flex-direction: column;
        gap: 2em;
        align-items: baseline;
    }
    .error {
        text-align: center;
    }
    .search-button span {
        display: inline;
    }
    .search-button {
        background-color: #555;
        color: #ebfffc;
        width: 100px;
        display: flex;
        align-items: center;
        padding: 1em;
        justify-content: space-evenly;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .git-button:hover .BG {
        transform: none;
    }

    .git-button:hover .svg-container {
        background-color: transparent;
        backdrop-filter: none;
    }
}
